.dialog-reset {
  .el-dialog__body {
    padding: 0 20px 30px 20px !important;
  }

  .el-tabs__active-bar {
    height: 4px !important;
  }

  .el-table th, .el-table td {
    padding: 10px 0 !important;
  }

  .el-table td {
    border-right: 1px solid #EBEEF5;
  }
}

.general-detail {
  .el-form-item__label {
    color: #999 !important;
    height: 40px;
  }

  .el-form-item {
    margin-bottom: -5px !important;

    span.exceed {
      display: inline-block;
      width: 190px;
      white-space: nowrap;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .el-form-item__content {
    height: 40px;
  }
}

.add-edit-reset {
  .el-dialog__body {
    padding: 10px 20px 0 20px !important;
  }

  .el-form-item {
    margin-bottom: 14px;
  }

  .el-form-item__error {
    margin-top: 0px;
    padding-top: 0;
  }

  .el-form-item__label {
    line-height: 32px !important;
    padding: 0;
  }

  .el-input__inner {
    height: 32px !important;
    line-height: 32px !important;
    border-radius: 2px !important;
  }

  .el-textarea__inner {
    font: 400 14px Arial;
    min-height: 60px !important;
  }

  .el-form {
    padding: 0 15px;
  }

  .padding30 {
    padding: 10px 20px 0;
  }

  .lineDiv {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
  }

  .title {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
  }

  .cancel {
    width: 64px;
    height: 32px;
    background: rgba(221, 221, 221, 1);
    border-radius: 2px;
  }

  .el-button.cancel:active {
    color: #333;
    border-color: transparent;
    outline: 0;
  }

  .el-button.cancel:focus, .el-button.cancel:hover {
    color: #333;
    border-color: transparent;
    background-color: #BBBBBB;
  }

  .sure {
    width: 64px;
    height: 32px;
    border-radius: 2px;
  }

  .el-button.sure:active {
    color: #fff;
    border-color: transparent;
    outline: 0;
  }

  .el-button.sure:focus, .el-button.sure:hover {
    color: #fff;
    border-color: transparent;
  }

  .el-button--small.moreSure {
    padding: 9px;
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #F4F6FA;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 108px;
    height: 72px;
    line-height: 76px;
    text-align: center;
  }

  .avatar {
    width: 108px;
    height: 72px;
    display: block;
  }

  .el-form-item__content{
    line-height: 32px;
  }
  .el-input__icon {
    line-height: 32px;
  }
  .el-cascader {
    line-height: 32px;
  }
  .el-cascader__label span {
    color: inherit;
  }
}

.dialog-padding0 {
  .el-dialog__body {
    padding: 0 !important;
  }
  .el-form {
    padding: 0 !important;
  }
  .padding30 {
    padding: 10px 20px 0;
  }
  .el-form--inline .el-form-item {
    margin-right: 25px;
  }
}

.dialog-inside-tables {
  padding: 7px 20px;

  .search-content {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .search-left {
    width: 280px;
    height: 32px;
    position: relative;
    input {
      height: 32px;
    }
  }

  .el-table__fixed-body-wrapper {
    background-color: transparent;
  }

  .search-btn {
    position: absolute;
    top: 9px;
    width: 44px !important;
    height: 32px !important;
    background: rgba(21, 188, 131, 1) !important;
    border-radius: 0 4px 4px 0 !important;
    border: 0 !important;
    color: #fff !important;
    text-align: center;
    padding: 0;
  }

  .search-input {
    .el-input__inner{
      border-radius: 4px 0 0 4px !important;
    }
  }
  /*跳转table 单选 隐藏表头*/
  thead {
    .el-table-column--selection {
      .cell {
        display: none;
      }
    }
  }
}

.font-weight500 {
  font-weight: 500;
}

.font-color {
  color: #333;
  font-size: 15px;
}

.del-reset {
  .el-dialog__header {
    text-align: left;
  }

  .el-dialog--center .el-dialog__body {
    text-align: initial;
    padding: 13px 25px 17px;
  }

  .dialog-cancel {
    width: 80px;
    height: 36px;
    background: rgba(221, 221, 221, 1);
    border-radius: 2px;
  }

  .dialog-sure {
    width: 80px;
    height: 36px;
    background: rgba(221, 74, 71, 1);
    border-radius: 2px;
  }
}

.el-dialog__body {
  padding: 13px 25px 17px !important;
}

.el-dialog--center .el-dialog__footer {
  text-align: right !important;
}

.el-button.dialog-cancel:active {
  color: transparent;
  border-color: transparent;
  outline: 0;
}

.el-button.dialog-cancel:focus, .el-button.dialog-cancel:hover {
  color: #333;
  border-color: transparent;
  background-color: #BBBBBB;
}

.el-button.dialog-sure:active {
  color: transparent;
  border-color: transparent;
  outline: 0;
}

.el-button.dialog-sure:focus, .el-button.dialog-sure:hover {
  color: #fff;
  border-color: transparent;
  background-color: #C14340;
}

.el-button--primary.dialog-sure {
  border-color: transparent;
}

.el-message {
  min-width: 360px !important;
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  padding: 22px 15px 25px 22px !important
}

.el-message--warning .el-message__content, .el-message--error .el-message__content, .el-message--success .el-message__content {
  color: #333;
}

.el-message .el-icon-success, .el-message .el-icon-error, .el-message .el-icon-warning {
  font-size: 24px !important;
}

.el-message__content {
  font-size: 16px !important;
}

.el-tabs__header {
  margin: 0 !important;
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  margin-left: -9px !important;
}

.el-title-must {
  padding-left: 8px;
  font-size: 13px;
}

.el-title-must span {
  color: red;
}

.max-height480 {
  max-height: 480px;
  overflow-y: auto;
}

.prop_table {
  th {
    background-color: #eeeeee;
    color: #222222;
  }
  td, th {
    height: 44px;
    line-height: 44px;
    padding: 0;
  }
}

/*确认删除 弹框*/
.el-message-box{
  border-radius: 0 !important;
  padding-bottom: 20px !important;
}
.el-message-box__close{
  display: none !important;
}
.el-message-box__header {
  padding: 20px 20px 10px !important;
}
.el-message-box__title{
  font-size: 22px;
  color: #333333 !important;
}
.el-message-box__content {
  padding: 10px 20px !important;
}
.el-message-box__btns {
  padding: 10px 20px 0 !important;
}
.el-message-box__btns button{
  width: 80px;
  height: 36px;
  font-size: 14px;
  letter-spacing: 2px;
  border: none;
  border-radius: 2px;
}
.el-message-box__btns button.btn_none{
  display: none;
}
.el-message-box__btns button.btn_red{
  color: #ffffff;
  background-color: #DD4A47;
}
.el-message-box__btns button.btn_red:hover{
  background-color: #C14340;
}
